# Wholesale Loyalty Program

Company is a small food service supply wholesaler that services the hotel/restaurant and retail channels.

The company is designing a customer loyalty program (e.g the one that incentivizes customers to purchase across multiple offering categories)

You need to: examine annual spending by the company's current customers to understand if such program would be attractive to the largest subgroup of customers.

Things to look at:
1. current spending patterns across offering categories
2. annual spending across channels (hotel/restaurant vs. retail)
3. different subgroups of customers
4. spendings of each customer - first year vs. second year

### The Data

CUST_ID: Customer ID

YEAR: Year

FRESH: annual spending on fresh products

DAIRY: annual spending on dairy products

GROCERY: annual spending on grocery products

FROZEN: annual spending on frozen products

DETERGENTS_PAPER: annual spending on detergents and paper products

DELI: annual spending on delicatessen products

CHANNEL: HoReCa (hotel/restaurant) or Retail

In [3]:
import pandas as pd

In [5]:
df = pd.read_csv("wholesale_data.csv")
df.head()

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,6048141,2017,12669,9656,7561,214,2674,1338
1,2,9336325,2017,7057,9810,9568,1762,3293,1776
2,2,6272942,2017,6353,8808,7684,2405,3516,7844
3,1,7856217,2017,13265,1196,4221,6404,507,1788
4,2,6179511,2017,22615,5410,7198,3915,1777,5185

In [6]:
df['Channel'].unique()

array([2, 1])

## 1. Data cleaning

In [7]:
df.isna().any()

Channel             False
Customer            False
Year                False
Fresh                True
Milk                 True
Grocery              True
Frozen               True
Detergents_Paper     True
Delicassen           True
dtype: bool

There are non-numerical value. For example, some fields contain: unrecorded - category, some are NaN. Year column contains different date formats.

In [11]:
df[df['Fresh'] == 'unrecorded']

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
12,2,9012181,2017,unrecorded,12319,11757,287,3881,2931
414,1,2272718,2017,unrecorded,1990,3417,5679,1135,290

In [12]:
df[df['Milk'] == 'unrecorded']

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
133,1,4289818,2017,9434,unrecorded,1235,436,256,396
159,2,8778659,2017,355,unrecorded,14682,398,8077,303
521,2,3909873,08/01/2016,123,unrecorded,9794,164,7271,89

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
54,1,5555768,2017,27329,1449,1947,2436,unrecorded,1333

In [53]:
# unrecorded and NaN values replaced with zeros - not too many of these (zeros or eliminate these?)
df.Fresh = df.Fresh.replace('unrecorded', 0)
df.Milk = df.Milk.replace('unrecorded', 0)
df.Grocery = df.Grocery.replace('unrecorded', 0)
df.Frozen = df.Frozen.replace('unrecorded', 0)
df.Detergents_Paper = df.Detergents_Paper.replace('unrecorded', 0)
df.Delicassen = df.Delicassen.replace('unrecorded', 0)

In [54]:
df.Fresh = df.Fresh.replace('NaN',0)

In [55]:
# Year column contains different formats, adjusting that here
df['Year'].unique()

array(['2017', '2016'], dtype=object)

In [56]:
df.Year = df.Year.replace('08/01/2016','2016')

In [59]:
# to confirm there are no other non numerical entries
df.apply(pd.to_numeric)

,Channel,Customer,Year,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicassen
0,2,6048141,2017,12669.0,9656.0,7561.0,214.0,2674.0,1338.0
1,2,9336325,2017,7057.0,9810.0,9568.0,1762.0,3293.0,1776.0
2,2,6272942,2017,6353.0,8808.0,7684.0,2405.0,3516.0,7844.0
3,1,7856217,2017,13265.0,1196.0,4221.0,6404.0,507.0,1788.0
4,2,6179511,2017,22615.0,5410.0,7198.0,3915.0,1777.0,5185.0
5,2,2288780,2017,9413.0,8259.0,5126.0,666.0,1795.0,1451.0
6,2,4005184,2017,12126.0,3199.0,6975.0,480.0,3140.0,545.0
7,2,5508432,2017,7579.0,4956.0,9426.0,1669.0,3321.0,2566.0
8,1,7407238,2017,5963.0,3648.0,6192.0,425.0,1716.0,750.0
9,2,8386256,2017,6006.0,11093.0,18881.0,1159.0,7425.0,2098.0
10,2,4538271,2017,3366.0,5403.0,12974.0,4400.0,5977.0,1744.0
11,2,4422581,2017,13146.0,1124.0,4523.0,1420.0,549.0,497.0
12,2,9012181,2017,0.0,12319.0,11757.0,287.0,3881.0,2931.0
13,2,1425037,2017,21217.0,6208.0,14982.0,3095.0,6707.0,602.0
14,2,7456214,2017,24653.0,9465.0,12091.0,294.0,5058.0,2168.0
15,1,4767819,2017,10253.0,1114.0,3821.0,397.0,964.0,0.0
16,2,6275746,2017,1020.0,8816.0,12121.0,134.0,4508.0,1080.0
17,1,4562674,2017,5876.0,6157.0,2933.0,839.0,370.0,4478.0
18,2,5087393,2017,18601.0,6327.0,10099.0,2205.0,2767.0,3181.0
19,1,6956386,2017,7780.0,2495.0,9464.0,669.0,2518.0,501.0
20,2,7004317,2017,17546.0,4519.0,4602.0,1066.0,2259.0,2124.0
21,1,2925648,2017,5567.0,871.0,2010.0,3383.0,375.0,569.0
22,1,1392621,2017,31276.0,1917.0,4469.0,9408.0,2381.0,4334.0
23,2,1133724,2017,26373.0,36423.0,22019.0,5154.0,4337.0,0.0
24,2,8805617,2017,22647.0,9776.0,13792.0,2915.0,4482.0,5778.0
25,2,6771015,2017,16165.0,4230.0,7595.0,201.0,4003.0,57.0
26,1,3850837,2017,9898.0,961.0,2861.0,3151.0,242.0,833.0
27,1,4200242,2017,14276.0,803.0,3045.0,485.0,100.0,518.0
28,2,8199077,2017,4113.0,20484.0,25957.0,1158.0,8604.0,5206.0
29,1,1182105,2017,43088.0,2100.0,2609.0,1200.0,1107.0,823.0
...,...,...,...,...,...,...,...,...,...
771,1,7598067,2016,7081.0,406.0,7883.0,375.0,1427.0,372.0
772,2,1241112,2016,21301.0,1758.0,1774.0,2014.0,90.0,404.0
773,1,3724606,2016,13741.0,5874.0,10765.0,29217.0,560.0,2636.0
774,2,5748276,2016,1545.0,1304.0,1130.0,1539.0,321.0,492.0
775,2,5854078,2016,417.0,593.0,1015.0,306.0,58.0,277.0
776,1,8596161,2016,13038.0,1149.0,2101.0,5259.0,109.0,675.0
777,2,8671114,2016,4295.0,639.0,3850.0,2564.0,187.0,591.0
778,1,1652144,2016,7440.0,1125.0,4036.0,1856.0,133.0,751.0
779,2,5530595,2016,7070.0,11310.0,14493.0,901.0,8069.0,860.0
780,1,1768151,2016,13393.0,1544.0,883.0,1104.0,142.0,1457.0
781,2,2129989,2016,3426.0,2938.0,31630.0,92.0,20956.0,535.0
782,1,4357489,2016,11944.0,418.0,1179.0,5548.0,276.0,1848.0
783,2,2597908,2016,11645.0,3272.0,5611.0,710.0,2467.0,791.0
784,1,6092144,2016,9779.0,1088.0,705.0,403.0,115.0,451.0
785,1,9057098,2016,3927.0,552.0,1619.0,5556.0,261.0,668.0
786,2,6029616,2016,2.0,117.0,4985.0,9985.0,5.0,385.0
787,1,9791263,2016,1387.0,808.0,2933.0,7284.0,309.0,1631.0
788,1,7021780,2016,309.0,1811.0,7639.0,221.0,3417.0,562.0
789,1,2160733,2016,1786.0,4265.0,4720.0,437.0,4026.0,971.0
790,1,8746100,2016,199.0,3570.0,4146.0,258.0,3492.0,1036.0
791,2,2149848,2016,878.0,3691.0,10000.0,946.0,10674.0,23.0
792,2,5687385,2016,2008.0,504.0,1111.0,1430.0,154.0,288.0
793,2,8444555,2016,779.0,1665.0,4001.0,289.0,2421.0,251.0
794,1,6774993,2016,2078.0,5065.0,7149.0,2181.0,5082.0,881.0
795,2,6343208,2016,10131.0,4885.0,10341.0,1966.0,3512.0,838.0
796,1,7034915,2016,1543.0,1476.0,1115.0,563.0,639.0,545.0
797,1,4485889,2016,2392.0,5710.0,10466.0,802.0,5132.0,369.0
798,2,3326242,2016,2782.0,681.0,1618.0,988.0,104.0,448.0
799,2,8680930,2016,992.0,6026.0,8026.0,940.0,8973.0,1506.0
800,1,4886018,2016,407.0,520.0,935.0,606.0,76.0,142.0

In [79]:
# haven't found any duplicates
df.duplicated().any()

False